* {
    margin: 0px;
    padding: 0px;

}

html {
    scroll-behavior: smooth;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
}

.navlist {

    width: 70%;

    display: flex;
    align-items: center;
}

.navlist li {
    list-style: none;
    padding: 26px 30px;


}

.navlist li a {
    text-decoration: none;
    color: white;
}

.navlist li a:hover {

    color: brown;
}

.rightnav {
    width: 40%;

    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;

}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}
.btn-last{padding: 10px 16px;
    vertical-align: middle;
    margin: auto;
        display: flex;
}

.background {
    background: rgba(0, 0, 0, 0.7) url(images/background.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection {
    height: 100vh;
}

.firstbox{
    color: white;
    font-size: 150%;
}
.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 60%;
    margin: auto;
    height: 80%;
}

.firsthalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondhalf {
    width: 30%;
}

.secondhalf img {
    width: 120%;
    border-radius: 5cm;
}

.text-big {
    font-size: 40px;
}

.text-small {
    font-size: 20px;
}


.buttons {
    position: relative;
    display: flex;
}

.logo-img {

    width: 65px;
    margin: 10px;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.logo img {
    height: 90%;
    width: 42%;
    border: 3px solid white;
    border-radius: 50px;
}

.section {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    padding: 10px;

}

.section-left {
    flex-direction: row-reverse;
}

.sectiontag {
    padding: 16px 0;
}

.paras {
    padding: 0px 65px;
}

.thumbnail img {
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
    height: 300px
}

.contact {
    background-color: antiquewhite;
    height: 833px;
}

.text-center {
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
}

.from {
    max-width: 60%;
    margin: 25px auto;

}

.from-input {
    margin: 14px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 6px;
    display: block;

}

.text-footer {
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    color: white;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}

.line {
    width: 33px;
    background-color: aliceblue;
    height: 5px;
    margin: 3px 3px;
}

@media only screen and (max-width:1000px) {

    .navlist {
        flex-direction: column;
    }

    .navbar {

        flex-direction: column;
        height: 370px;
        transition: all 0.7s ease-out;
    }

    .rightnav {
        text-align: center;
    }
    .firstbox{
    color: white;
    font-size: 150%;
    }

    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    #search {
        display: none;
    }

    .burger {
        display: block;
    }

    .logo {
        height: 60px;
        width: 120px;

    }

    .h-nav-resp {
        height: 60px;
    }

    .v-class-resp {
        opacity: 0;
    }

    .section {
        flex-direction: column-reverse;

    }

    .text-small {
        text-align: center;
    }

    .text-big {
        text-align: center;
    }

    .text-small {
        text-align: center;
    }

    .buttons {
        text-align: center;
        margin: auto;
    }

    .btn-sm {
        display: none;
    }
    .btn-last{
        margin: auto;
        display: flex;
    }

    .paras {
        padding: 0px;
    }
}







